.container {
  height: 100vh;
  width: 100vw;
}
.button_color {
  display: flex;
  justify-content: center;
  
}
button{

    margin-top: 30px;
    width: 150px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;

    border: 2ps  solid ;
    color: #fff;
    background:#342;
}

.type{
    display: block;
    margin-top: 10%;
    margin-left: 48%;
    font-size: 45px;
}
.color{
    position: absolute;
    bottom: 25px;
    left: 40%;
    font-size: 45px;

}